<div class="container">
    <h1>Draft History</h1>
    <select [(ngModel)]="year" #yearSelector (change)="onYearChange($event, yearSelector.value)" name="sel2">
        <option>Select year..</option>
        <option [value]="2017">2017</option>
    </select>
    <button class="btn btn-primary" (click)="getDraft()">Get Draft</button>

    <div>
        <table class="table">
            <td *ngFor="let pks of draft | async">
                <tr>{{ pks.Player }} <br/> {{ pks.Pick }}</tr>
            </td>
        </table>
    </div>
</div>