<div class="view intro-2">
    <div class="full-bg-img">
        <div class="mask flex-center">
            <div class="container text-center white-text wow fadeInUp">
                <h1>Draft History</h1>
                <select [(ngModel)]="year" #yearSelector (change)="onYearChange($event, yearSelector.value)" name="sel2">
                    <option>Select year..</option>
                    <option [value]="2017">2017</option>
                </select>
                <button class="btn btn-primary waves-light" mdbWavesEffect (click)="getDraft()">Get Draft</button>
            </div>
        </div>
    </div>
</div>
<main class="text-center py-5">

    <div class="container draft-container">
        <h1>{{year}} Draft</h1>
        <table class="table table-responsive table-hover draft-table">
            <ng-template ngFor let-pick [ngForOf]="draft | async" let-i="index">
                <tbody>
                    <tr *ngIf="i%10==0">
                        <th scope="row">{{i / 10 + 1}}</th>
                        <ng-template ngFor let-pk [ngForOf]="draft | async">
                            <td *ngIf="pk.round == i/10 + 1">
                                {{pk.Player}}
                                <hr> {{pk.Drafter }}
                            </td>
                        </ng-template>
                    </tr>
                </tbody>
            </ng-template>
        </table>
    </div>

</main>